.method-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust this to change the relative width of columns */
    gap: 1rem; /* Adjust the gap between the columns */
    align-items: start; /* Aligns items to the start of the container */
    border-bottom: 1px solid lightgray; /* Add a bottom border to each container */
    padding-bottom: 1em; /* Add some padding to give space above the border */
    margin-bottom: 1em;
}

.method, .description {
    flex-basis: 48%; /* Adjust this value as necessary to give equal width */
}

/* If you want to add some style to the code block */
.method code {
    border-radius: 4px;
}

/* Add any additional styling for the description as needed */
.description p {
    margin: 0;
}

.main-description {
    min-width: 600px;
    padding-bottom: 0.5em;
}

h2 {
    font-weight: 500;
}