/* function.css */

.base {
    margin: 0 auto; /* Center the block in the middle of the page */
    padding-top: 5px; /* Add some padding to top */
    padding-left: 20px; /* Add some padding to left */
    font-family: 'Arial', sans-serif; /* A more modern font */
}

.base p {
    line-height: 1.6; /* More space between lines */
    margin-bottom: 0px;
    margin-top: 1em;
}

.base dl {
    display: grid;
    margin-top: 0px;
}

.base dt {
    font-weight: bold; /* Make the term bold */
    text-align: left; /* Right-align the term for a tabular look */
    padding-right: 0.5em; /* Add some space before the description */
}

.term {
    background-color: #eaeaea; /* Light grey background for the term */
    color: #000; /* Default text color */
    display: inline-block; /* Makes the background extend only to the end of the text */
    padding-left: 0.5em; /* Adds some padding to the left of the text */
    margin-top: 0.75em; /* Adds some space above the term */
    margin-right: 0.5em; /* Adds some space after the term before the description starts */
}
  
/* Changes the term background and text color in dark mode */
[data-theme='dark'] .term {
    background-color: #333; 
    color: #fff; 
}

.parameter {
    font-weight: 800; /* Make the input bold */
}

.parameter-description {
    padding-left: 2em;
    padding-bottom: 0.5em;
}

.dataframe-container {
    /* Assuming you want the DataFrame to fit the width of its container and allow for scrolling if necessary */
    overflow-x: auto;
    margin: 0 auto; /* This centers the table if it's smaller than the container */
}

dd ul li {
    margin-left: -30px; /* Adjust this value as needed */
}

.base small-title {
    font-size: 20px;
    line-height: 2;
}